html, body {
  height: auto;
  overflow-y: auto;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.log {
  max-height: none;
  overflow-y: visible;
}

.button {
  background-color: transparent;
  width: 100%;
  margin-top: 60px;
}

.button ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 120px;
}

.button li a{
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.button li a:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}


section {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #444;
  background-color: #000;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}
